In [8]:
import pandas as pd

df=pd.read_csv("iris_dataset.csv")

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
x = df.iloc[:, :4].values
y= df.iloc[:, 4].values

In [10]:
class_df = df.groupby("target")

mean = class_df.mean()
mini = class_df.min()
maxi = class_df.max()
vari = class_df.var()
rangedf = maxi - mini
mean

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,5.006,3.428,1.462,0.246
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026

In [11]:
import numpy as np
def gauss(x , mu,var):
    sig = np.sqrt(var)
    return (1/(np.sqrt(2*np.pi)*sig))*np.exp(-0.5*((x-mu)/sig)**2)

In [12]:
petal = df["petal length (cm)"].values
y_t = df["target"].values
class_ids = mean.index
class_ids

Index([0, 1, 2], dtype='int64', name='target')

In [13]:

mu = mean["petal length (cm)"]
var = vari["petal length (cm)"]
print(mu , var)

target
0    1.462
1    4.260
2    5.552
Name: petal length (cm), dtype: float64 target
0    0.030159
1    0.220816
2    0.304588
Name: petal length (cm), dtype: float64

In [14]:
def calculateLabel(petal):
    y_pred = []
    for x in petal:
        probs = {}

        for c in class_ids:
            probs[c] = gauss(x, mu[c] , var[c])

        bestcls = max(probs , key= probs.get)
        y_pred.append(bestcls)
    return y_pred

In [15]:
correct = 0
y_pred = calculateLabel(petal)
for i in range (len(y_t)):
    correct+= y_pred[i] == y_t[i]
print(correct)  
df.info()

143
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [16]:

def Accuracy(correct_answer, total):
    precision = (correct_answer / total)*100
    return precision

In [17]:
accuracy = Accuracy(correct, len(y_t))
accuracy

95.33333333333334

In [18]:
test = pd.read_csv("iris_test_samples.csv")
petal_test = test["petal_length"].values
y_testt = test["label"].values

In [19]:
y_pred_test = calculateLabel(petal_test)

correct_test = 0
y_pred = calculateLabel(petal)
for i in range (len(y_testt)):
    correct_test+= y_pred_test[i] == y_testt[i]

print(correct_test)
test.info()

10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  10 non-null     float64
 1   sepal_width   10 non-null     float64
 2   petal_length  10 non-null     float64
 3   petal_width   10 non-null     float64
 4   label         10 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 532.0 bytes

In [20]:
test_accuracy = Accuracy(correct_test, len(y_testt))
test_accuracy

100.0

In [21]:
mu_sep_len  = mean["sepal length (cm)"]
var_sep_len = vari["sepal length (cm)"]

mu_sep_wid  = mean["sepal width (cm)"]
var_sep_wid = vari["sepal width (cm)"]

mu_pet_len  = mean["petal length (cm)"]
var_pet_len = vari["petal length (cm)"]

mu_pet_wid  = mean["petal width (cm)"]
var_pet_wid = vari["petal width (cm)"]

In [22]:
sep_len   = df["sepal length (cm)"].values
sep_wid   = df["sepal width (cm)"].values
pet_len   = df["petal length (cm)"].values
pet_wid   = df["petal width (cm)"].values
y_t       = df["target"].values

In [23]:


sep_len_test = test["sepal_length"].values
sep_wid_test = test["sepal_width"].values
pet_len_test = test["petal_length"].values
pet_wid_test = test["petal_width"].values
y_testt      = test["label"].values

In [ ]:
def calculateLabel_4feat(sep_len, sep_wid, pet_len, pet_wid):
    y_pred = []
    
    for i in range(len(sep_len)):
        x1 = sep_len[i]   
        x2 = sep_wid[i]  
        x3 = pet_len[i]   
        x4 = pet_wid[i]  

        probs_classes = {} 

        for c in class_ids:  
            P1 = gauss(x1, mu_sep_len[c],  var_sep_len[c])
            P2 = gauss(x2, mu_sep_wid[c],  var_sep_wid[c])
            P3 = gauss(x3, mu_pet_len[c],  var_pet_len[c])
            P4 = gauss(x4, mu_pet_wid[c],  var_pet_wid[c])

            probs_feat = [P1, P2, P3, P4]
            top2 = sorted(probs_feat, reverse=True)[:2]   
            P_final = sum(top2) / 2                       
            probs_classes[c] = P_final

        bestcls = max(probs_classes, key=probs_classes.get)
        y_pred.append(bestcls)

    return y_pred

In [ ]:
y_pred_train_4 = calculateLabel_4feat(sep_len, sep_wid, pet_len, pet_wid)

correct_train_4 = 0
for i in range(len(y_t)):
    correct_train_4 += (y_pred_train_4[i] == y_t[i])

train_acc_4 = Accuracy(correct_train_4, len(y_t))
print("Train accuracy (4 features, top2) =", train_acc_4)

In [ ]:
y_pred_test_4 = calculateLabel_4feat(sep_len_test, sep_wid_test, pet_len_test, pet_wid_test)

correct_test_4 = 0
for i in range(len(y_testt)):
    correct_test_4 += (y_pred_test_4[i] == y_testt[i])

test_acc_4 = Accuracy(correct_test_4, len(y_testt))
print("Test accuracy (4 features, top2) =", test_acc_4)